/* ===== イベント詳細ページ ============================ */
.channel-event{

}
/* ================================================== */

/* ===== イベント詳細ページ ヘッダー ==================== */
.channel-event-back{
  font-size: 14px;
  margin-bottom: 40px;
}

.channel-event-title{
  display: flex;
  justify-content: space-between;
}

.channel-event-title-name{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.channel-event-title-edit{
  height: 36px;
  width: 80px;
  border: 1px #313E52 solid;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-event-title-edit:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-event-updated{
  font-size: 10px;
  margin-bottom: 40px;
}

.channel-event-line{
  border: #D8D8D8 1px solid;
  margin-bottom: 40px;
}
/* ================================================== */

/* ===== イベント詳細ページ 詳細 ======================== */
.channel-event-item{
  margin-bottom: 40px;
}

.channel-event-item-name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.channel-event-item-output{
  font-size: 14px;
}

.channel-event-item-users{
  display: flex;
  margin-bottom: 50px;
}

.channel-event-item-user{
  margin-right: 20px;
}

.channel-event-item-user-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0 10px 0;
  transition: transform 0.3s ease; 
}

.channel-event-item-user-image:hover{
  cursor: pointer;
  transition: .2s;
  transform: scale(1.05); 
}

.channel-event-item-users-name{
  font-size: 14px;
  text-align: center;
}
/* ================================================== */

/* ===== イベント詳細ページ 参加可否 ==================== */
.channel-event-action{
  display: flex;
}

.channel-event-action-joined{
  height: 40px;
  width: 200px;
  background-color: #313E52;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
}

.channel-event-action-joined:hover{
  background-color: #B9B9B9;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-event-action-not-joined{
  height: 40px;
  width: 200px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
}

.channel-event-action-not-joined:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}
/* ================================================== */