/* ===== チャンネル 共通 ============================== */
.channel{
  display: flex;
}

.channel-right{
  width: calc(100vw - 220px);
  margin-left: 220px;
}
/* ================================================== */