.general-actions-delete{
  height: 40px;
  width: 200px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}

.general-actions-delete:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}