/* ===== ツイート ==================================== */
.channel-tweet{
  display: flex;
}
/* ================================================== */

/* ===== ツイート ユーザー選択 ========================= */
.chanel-tweet-left{
  position: fixed;
  background-color: #465163;
  height: 100vh;
  width: 300px;
  padding: 20px;
}
/* ================================================== */

/* ===== ツイート ユーザー選択 検索 ===================== */
.chanel-tweet-left-search{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.chanel-tweet-left-search-input{
  width: 220px;
  background-color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  font-size: 12px;
  border: none;
}

.chanel-tweet-left-search-button{
  width: 40px;
  border-radius: 0 10px 10px 0;
  background-color: #313E52;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chanel-tweet-left-search-button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  transition: .2s
}

.chanel-tweet-left-search-button-image{

}
/* ================================================== */

/* ===== ツイート ユーザー選択 一覧 ===================== */
.chanel-tweet-left-users{

}

.chanel-tweet-left-user{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.chanel-tweet-left-user:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  transition: .2s
}

.chanel-tweet-left-user-image{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-right: 20px;
  object-fit: cover;
}

.chanel-tweet-left-user-name{
  color: #FFFFFF;
  font-size: 14px;
}
/* ================================================== */

/* ===== ツイート ツイート表示部分 ====================== */
.chanel-tweet-right{
  margin-left: 300px;
  padding: 40px;
}

.chanel-tweet-right-tweets{

}

.chanel-tweet-right-tweet{
  display: flex;
  margin-bottom: 40px;
}

.chanel-tweet-right-tweet-userimage{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.chanel-tweet-right-tweet-content{

}

.chanel-tweet-right-tweet-content-top{
  display: flex;
}

.chanel-tweet-right-tweet-content-top-username{
  font-size: 12px;
  margin: 0 20px 6px 0;
}

.chanel-tweet-right-tweet-content-top-date{
  font-size: 12px;
}

.chanel-tweet-right-tweet-content-text{
  font-size: 14px;
  margin-bottom: 10px;
}

.chanel-tweet-right-tweet-content-buttom{
  display: flex;
}

.chanel-tweet-right-tweet-content-buttom-image{
  height: 160px;
  width: 160px;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 1px 2px 0;
  object-fit: cover;
}
/* ================================================== */

/* ===== ツイート 新規投稿 ============================= */
.channel-tweet-action{
  height: 60px;
  width: 60px;
  background-color: #313E52;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  position: fixed;
  right: 60px;
  bottom: 60px; 
}

.channel-tweet-action:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  color: #313E52;
  box-shadow:  0 5px 10px 0;
  transition: .2s
}
/* ================================================== */