.channel-tweet-modal{
  display: none;
  height: 400px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.channel-tweet-modal-back{
  text-align: right;
  margin: 10px 20px 0 0;
}

.channel-tweet-modal-content{
  padding: 20px;
}

.channel-tweet-modal-content-text{
  height: 240px;
  border: #B9B9B9 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.channel-tweet-modal-content-buttom{
  display: flex;
}

.channel-tweet-modal-content-images{
  display: flex;
}

.channel-tweet-modal-content-images-input{
  height: 60px;
  width: 60px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0;
  margin-right: 10px;
}

.channel-tweet-modal-content-images-input-plus{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.channel-tweet-modal-content-images-input-add{
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
}

.channel-tweet-modal-content-images-image{
  height: 60px;
  width: 60px;
  background-color: #B9B9B9;
  border-radius: 10px;
  margin-right: 10px;
}

.channel-tweet-modal-content-botton-image{
  height: 30px;
  margin: 20px 0 0 360px;
}