<%# モーダル %>
<div class ="channel-box-modal">
  <div class ="channel-box-modal-title">
    チャンネルを退出しますか？
  </div>
  <div class ="channel-box-modal-button">
      <%= link_to 'Yes', root_path, class:"channel-box-modal-button-y" %>
    <div class ="channel-box-modal-button-n">
      No
    </div>
  </div>
</div>
<%# モーダル %>