<%# チャンネル ログアウト モーダル Start %>
  <div class="overlay"></div>
  <div class= "modal">
    <div class= "modal-box">
      <div class ="modal-box-title">
        チャンネルを退出しますか？
      </div>
      <div class ="modal-actions">
        <%= link_to 'Yes', root_path, class:"modal-actions-y" %>
        <div class ="modal-actions-n">
          No
        </div>
      </div>
    </div>
  </div>
<%# チャンネル ログアウト モーダル End %>