<%# モーダル表示時バックグランド %>
<div class="overlay"></div>
<%# モーダル表示時バックグランド %>

<%# チャンネル退出 モーダル %>
<%= render "shared/channel_box_modal" %>
<%# チャンネル退出 モーダル %>

<%# アルバム新規作成ボタン %>
<%= link_to "+", new_channel_album_path(@channel) ,class:"channel-tweet-new-action" %>
<%# アルバム新規作成ボタン %>

<%# 共通コンテンツ %>
<div class = "channel">

  <%# グロナビ %>
  <%= render "shared/left-content" %>
  <%# グロナビ %>

  <%# アルバムコンテンツ %>
  <div class = "channel-right-content" >
    <div class ="chanel-album">

      <%# アルバムコンテンツ 検索ボックス %>
      <div class ="chanel-album-search">
        <div class ="chanel-album-search-input">
          キーワードを入力してください。
        </div>
        <div class ="chanel-album-search-button">
          <%= image_submit_tag 'album/index/search.svg', class: "chanel-album-search-button-image" %>
        </div>
      </div>
      <%# アルバムコンテンツ 検索ボックス %>

      <%# アルバムコンテンツ 一覧 %>
      <div class ="chanel-album-lists">
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
        <div class ="chanel-album-list">
          <div class ="chanel-album-list-image">
          </div>
          <div class ="chanel-album-list-content">
            <div class ="chanel-album-list-content-title">
              タイトル
            </div>
            <div class ="chanel-album-list-content-date">
              2024年3月19日(火)
            </div>
            <div class ="chanel-album-list-content-sum">
              100
            </div>
          </div>
        </div>
      </div>
      <%# アルバムコンテンツ 一覧 %>
      
    </div>
  </div>
  <%# アルバムコンテンツ %>

</div>
<%# 共通コンテンツ %>