.channel-form{
  background-color: #465163;
  padding: 50px 100px 50px;
}

.channel-form-back{
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 40px;
}

.channel-form-title{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.channel-form-contents{

}

.error{

}

.channel-form-top{
  display: flex;
  align-items: end;
  margin-bottom: 30px;
}

.channel-form-field{
  
}

.channel-form-main-image{
  position: relative;
  display: inline-block;
}

.channel-form-main-image:hover{
  cursor: pointer;
  transition: .2s
}

.channel-form-main-image-preview{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.channel-form-field-label{
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 30px;
  margin-bottom: 30px;
  line-height: 40px;
}

.channel-form-field-label-background{
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 30px;
  margin-bottom: 110px;
  line-height: 20px;
}

.channel-form-field-label-introduction{
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 30px;
  margin-bottom: 160px;
  line-height: 40px;
}

.channel-form-field-label-administrator{
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 30px;
  margin-bottom: 80px;
  line-height: 40px;
}

.channel-form-field-label-participant{
  color: #FFFFFF;
  font-size: 12px;
  margin-right: 30px;
  line-height: 40px;
}

.channel-form-main-image-input{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.custom-channel-form-main-image{
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #D8D8D8;
  margin-right: 30px;
}

.channel-form-main-image-button{
  height: 50px;
  position: absolute;
  right: 36px;
  bottom: 10px;
}

.channel-form-input1{
  height: 40px;
  width: 375px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.channel-form-buttom{
  display: flex;
}

.channel-form-field-input{

}

.channel-form-input2{
  height: 40px;
  width: 515px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.channel-form-background-image{
  position: relative;
  display: inline-block;
}

.channel-form-background-image:hover{
  cursor: pointer;
  transition: .2s
}

.channel-form-background-image-input{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.custom-channel-form-background-image{
  display: inline-block;
  height: 100px;
  width: 150px;
  border-radius: 10px;
  background-color: #D8D8D8;
  margin-right: 30px;
  margin-bottom: 30px;
}

.channel-form-background-image-button{
  height: 50px;
  position: absolute;
  right: 33px;
  bottom: 36px;
}

.channel-form-background-image-preview{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.channel-form-input3{
  height: 150px;
  width: 515px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 10px;
}

.channel-form-user-lists{
  display: flex;
  margin-bottom: 30px;
}

.channel-form-user-list{
  margin-right: 20px;
}

.channel-form-user-image{
  font-size: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.channel-form-user-name{
  color: #FFFFFF;
  font-size: 10px;
  text-align: center;
}

.channel-actions{
  display: flex;
  margin-top: 60px;
}

.channel-form-actions-button{
  height: 40px;
  width: 200px;
  background-color: #FFFFFF;
  color: #313E52;
  border: none;
  border-radius: 10px;
}

.channel-form-actions-button:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-form-actions-button-update{
  height: 40px;
  width: 200px;
  background-color: #FFFFFF;
  color: #313E52;
  border: none;
  border-radius: 10px;
}

.channel-form-actions-button-update:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-form-actions-button-delete{
  height: 40px;
  width: 200px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-left: 20px;
}

.channel-form-actions-button-delete:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-modal{

}

.channel-modal-botton{
  font-size: 12px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  margin-bottom: 10px;
}

.channel-modal-botton:hover{
  background-color: #313E52;
  cursor: pointer;
  color: #FFFFFF;
  transition: .2s
}


.channel-modal-botton-text1{

}

.channel-modal-botton-text{

}

.channel-modal-content-administrator{
  margin-bottom: 30px;
}

.channel-modal-content-checkbox{
  border: #D8D8D8 solid 1px;
  border-radius: 10px;
  padding: 20px 40px;
  width: 400px;
  margin: auto;
  margin-bottom: 60px;
}

.channel-modal-content-user{
  margin: 10px 0;
}

.channel-modal-content-user-check{
margin: 0 20px 12px 0;
}

.channel-modal-content-user-image{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.channel-modal-content-user-name{
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 5px;
}