/* ===== チャンネル一覧ページ ========================== */
.channel-index{
  padding: 50px 100px 0 100px;
}

.channel-index-title{
  font-size: 20px;
  margin-bottom: 40px;
}

.channel-index-lists{
  display: flex;
  flex-wrap: wrap; 
}

.channel-index-empty{

}

.channel-index-empty-text{
  font-size: 14px;
  margin-bottom: 20px;
}

.channel-index-empty-logout{
  border: none;
  border-radius: 40px;
  padding: 5px 20px;
}

.channel-index-empty-logout:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-index-list{
  height: 260px;
  width: 260px;
  filter: brightness(80%);
  border-radius: 10px;
  margin: 0 40px 40px 0;
  position: relative;
  transition: transform 0.3s ease; 
}

.channel-index-list:hover{
  filter: brightness(100%);
  cursor: pointer;
  transition: .2s;
  transform: scale(1.1); 
}

.channel-index-list-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.channel-index-list-title{
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px black;
}

.channel-index-new{
  height: 60px;
  width: 60px;
  background-color: #313E52;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  position: fixed;
  right: 60px;
  bottom: 60px; 
}

.channel-index-new:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  color: #313E52;
  box-shadow:  0 5px 10px 0;
  transition: .2s
}
/* ================================================== */