.overlay {
  display: none;
  position: fixed; /* 画面に固定 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); /* 黒色の半透明 */
  z-index: 998;
}

/* left-contentモーダル */
.channel-box-modal{
  display: none;
  height: 400px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 140px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 999;
}

.channel-box-modal-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.channel-box-modal-button{
  display: flex;
  justify-content: center;
}

.channel-box-modal-button-y{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #313E52;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.channel-box-modal-button-y:hover{
  background-color: #FFFFFF;
  color: #313E52;
  border: #313E52 solid 1px;
  cursor: pointer;
  transition: .2s
}

.channel-box-modal-button-n{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-box-modal-button-n:hover{
  background-color: #FFFFFF;
  color: #B9B9B9;
  border: #B9B9B9 solid 1px;
  cursor: pointer;
  transition: .2s
}
/* left-contentモーダル */

/* channel index モーダル */

.modal-channel-login{
  display: none;
  width: 800px;
  background-color: #FFFFFF;
  padding: 20px 20px 40px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin: auto;
  z-index: 999;
}

.modal-channel-login-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-channel-login-back{
  text-align: right;
  font-size: 20px;
}

.modal-channel-login-back:hover{
  filter: brightness(80%);
  cursor: pointer;
}

.modal-channel-login-channelname{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-channel-login-channelid{
  font-size: 18px;
  margin-bottom: 40px;
}

.modal-channel-login-column{
  margin-bottom: 10px;
}

.modal-channel-login-form{
  height: 40px;
  width: 400px;
  border: #D8D8D8 solid 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 40px;
}

.modal-channel-login-action{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #313E52;
  color: #FFFFFF;
  margin-top: 60px;
  display: block;
  margin: auto;
}

.modal-channel-login-action:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  border: #313E52 solid 1px;
  color: #313E52;
}
/* channel index モーダル */

/* channel edit deleteモーダル */
.channel-form-actions-button-delete-modal{
  display: none;
  height: 400px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 140px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 999;
}

.channel-form-actions-button-delete-modal-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.channel-form-actions-button-delete-modal-button{
  display: flex;
  justify-content: center;
}

.channel-form-actions-button-delete-modal-button-y{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #313E52;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.channel-form-actions-button-delete-modal-button-y:hover{
  background-color: #FFFFFF;
  color: #313E52;
  border: #313E52 solid 1px;
  cursor: pointer;
  transition: .2s
}

.channel-form-actions-button-delete-modal-button-n{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-form-actions-button-delete-modal-button-n:hover{
  background-color: #FFFFFF;
  color: #B9B9B9;
  border: #B9B9B9 solid 1px;
  cursor: pointer;
  transition: .2s
}
/* channel edit deleteモーダル */

/* user edit deleteモーダル */
.user-form-actions-button-delete-modal{
  display: none;
  height: 400px;
  width: 800px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-top: 140px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 999;
}

.user-form-actions-button-delete-modal-title{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}

.user-form-actions-button-delete-modal-button{
  display: flex;
  justify-content: center;
}

.user-form-actions-button-delete-modal-button-y{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #313E52;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.user-form-actions-button-delete-modal-button-y{
  background-color: #FFFFFF;
  color: #313E52;
  border: #313E52 solid 1px;
  cursor: pointer;
  transition: .2s
}

.user-form-actions-button-delete-modal-button-n{
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #B9B9B9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form-actions-button-delete-modal-button-n{
  background-color: #FFFFFF;
  color: #B9B9B9;
  border: #B9B9B9 solid 1px;
  cursor: pointer;
  transition: .2s
}