.channel{
  display: flex;
}

.left-content{
  position: fixed;
  background-color: #313E52;
  height: 100vh;
  width: 220px;
}

.left-content-box{
margin: 10px 20px;
}

.logo{
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.channel-box{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.channel-box:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.channel-image1{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
}

.channel-top-box-main-image-nav{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.channel-name{
  font-size: 16px;
  color: #ffffff;
}

.nav{
  margin-bottom: 60px;
}

.nav-lists{

}

.nav-list{
  display: flex;
  align-items: center;
  padding: 8px 0  8px 10px;
}

.nav-list:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.left-content{
  position: fixed;
  background-color: #313E52;
  height: 100vh;
  width: 220px;
}

.nav-list-image{
  height: 16px;
  width: 16px;
  margin-right: 20px;
}

.nav-list-name{
  font-size: 16px;
  color: #ffffff;
}

.post{
  margin-bottom: 120px;
}

.post-lists{

}

.post-list{
  display: flex;
  align-items: center;
  padding: 8px 0  8px 10px;
}

.post-list:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.logout{
  display: flex;
  align-items: center;
  padding: 8px 0  8px 10px;
}

.logout:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}