/* ===== チャンネル詳細ページ ========================== */
.channel-show{

}
/* ================================================== */

/* ===== チャンネル詳細ページ ヘッダー =================== */
.channel-show-top{
  position: relative;
  margin-bottom: 200px;
}

.channel-show-top-background{
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.channel-show-top-channel{
  position: absolute;
  top: 240px;
  margin-left: 100px;
}

.channel-show-top-channel-image{
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.channel-show-top-channel-name{
  font-size: 24px;
  font-weight: bold;
}

.channel-show-top-channel-id{

}

.channel-show-top-channel-edit{
  float: right;
  border: 1px #313E52 solid;
  border-radius: 40px;
  padding: 5px 20px;
  margin: 24px 100px 0 0 ;
}

.channel-show-top-channel-edit:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}
/* ================================================== */

/* ===== チャンネル詳細ページ 各コンテンツ一覧 ============ */
.channel-show-buttom{
  margin: 0 100px;
}

.channel-show-buttom-profile{
  border: 1px #313E52 solid;
  border-radius: 10px;
  padding: 40px 20px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.channel-show-buttom-profile-image{
  margin-right: 10px;
  height: 40px;
}

.channel-show-buttom-profile-content{

}

.channel-show-buttom-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.channel-show-buttom-text{
  
}

.channel-show-buttom-administrator{
  margin-bottom: 40px;
}

.channel-show-buttom-participant{
  margin-bottom: 40px;
}

.channel-show-buttom-users{
  display: flex;
  flex-wrap: wrap; 
}

.channel-show-buttom-user{
  margin: 0 20px 20px 0;
  transition: transform 0.3s ease; 
}

.channel-show-buttom-user:hover{
  cursor: pointer;
  transition: .2s;
  transform: scale(1.1); 
}

.channel-show-buttom-user-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.channel-show-buttom-user-name{
  font-size: 14px;
  text-align: center;
}

.channel-show-buttom-event{
  margin-bottom: 100px;
}

.channel-show-buttom-event-lists{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden; 
  white-space: nowrap;
}

.channel-show-buttom-event-list{
  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #313E52;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
  transition: transform 0.3s ease; 
}

.channel-show-buttom-event-list:hover{
  cursor: pointer;
  transition: .2s;
  transform: scale(1.05); 
}

.channel-show-buttom-event-list-date{
  font-size: 14px;
  margin-bottom: 10px;
}

.channel-show-buttom-event-list-name{
  font-size: 14px;
}

.channel-show-buttom-topics{
  width: 100%;
}

.channel-show-buttom-topics-lists{
}

.channel-show-buttom-topics-list{
  display: flex;
}

.channel-show-buttom-topics-list-left{

}

.channel-show-buttom-topics-list-left-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.channel-show-buttom-topics-list-right{
  width: 100%;
}

.channel-show-buttom-topics-list-right-top{
  display: flex;
  font-size: 10px;
  margin: 10px 0;
}

.channel-show-buttom-topics-list-right-top-name{
  margin-right: 20px;
}

.channel-show-buttom-topics-list-right-top-time{

}

.channel-show-buttom-topics-list-right-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.channel-show-buttom-topics-list-right-center-title{
  font-size: 18px;
  font-weight: bold;
}

.channel-show-buttom-topics-list-right-center-actions{
  display: flex;
}

.channel-show-buttom-topics-list-right-center-actions-edit{
  font-size: 12px;
  border: 1px #313E52 solid;
  border-radius: 40px;
  padding: 5px 20px;
  margin-right: 20px;
}

.channel-show-buttom-topics-list-right-center-actions-edit:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-show-buttom-topics-list-right-center-actions-delete{
  font-size: 12px;
  border: 1px #313E52 solid;
  border-radius: 40px;
  padding: 5px 20px;
}

.channel-show-buttom-topics-list-right-center-actions-delete:hover{
  background-color: #313E52;
  color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.channel-show-buttom-topics-list-right-buttom{
  font-size: 14px;
}

.channel-show-buttom-topics-list-right-line{
  border-bottom: 1px #D8D8D8 solid;
  margin: 40px 0;
}
/* ================================================== */