/* ===== ログイン Start ============================== */
.login{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ================================================== */
  
/* ===== ログインボックス Start ======================== */
.login-box{
  width: 80%;
  border-radius: 10px;
  background-color: #F0F0F0;
  padding: 80px 100px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}
/* ================================================== */

/* ===== ログインボックス ユーザーログイン Start ========== */
.login-box-left{

}

.login-box-left-title{
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}

.login-box-left-main{
  font-family: '游明朝', serif;
  font-size: 50px;
  line-height: 1;
}

.login-box-left-sub{
  font-size: 16px;
  margin-left: 20px;
  line-height: 2;
}

.login-box-left-error{
  margin-bottom: 40px;
}

.login-box-left-input{

}

.login-box-left-input-field{
  margin-bottom: 20px;
}

.login-box-left-input-field-label{
  font-size: 12px;
}

.login-box-left-input-field-string{
  height: 40px;
  width: 400px;
  border: none;
}

.login-box-left-input-remember{

}

.login-box-left-input-remember-checkbox{

}

.login-box-left-input-remember-label{
  font-size: 12px;
}

.login-box-left-input-action{
}

.login-box-left-input-action-submit{
  height: 40px;
  width: 400px;
  background-color: #313E52;
  color: #F0F0F0;
  border: none;
  border-radius: 10px;
}

.login-box-left-input-action-submit:hover{
  background-color: #FFFFFF;
  color: #313E52;
  cursor: pointer;
  transition: .2s
}

/* ================================================== */

/* ===== ログインボックス ユーザー新規登録 Start ========== */
.login-box-right{
  margin-top: 80px;
}

.login-box-right-title{
  text-align: center;
  margin-bottom: 40px;
}

.login-box-right-title-main{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-box-right-title-sub{
  font-size: 12px;
}

.login-box-right-action{
  height: 40px;
  width: 400px;
  background-color: #313E52;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-right-action-new{
  color: #F0F0F0;
  font-size: 14px;
}

.login-box-right-action:hover{
  background-color: #FFFFFF;
  cursor: pointer;
  transition: .2s
}

.login-box-right-action:hover .login-box-right-action-new{
  color: #313E52;
  transition: .2s
}

/* ================================================== */